<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<p>The current time is: <%= Time.now %></p>
<% time = Time.now %>
<% if time < " 12:00:00 -0800" %>
O Hai
<%else%>
Good evening
<%end%>
<% 2.times do |number|%>
<p><%=number +1%> fish</p>
<%end%>
<p>red fish</p>
<p>blue fish</p>
